body {
    color: #dddddd;
    background-color: #333333;
}

hr {
    background-color: #dddddd;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: black;
}

.navbar-dark .navbar-toggler {
    border-color: black;
}

#sidebar .navbar-brand, #sidebar .navbar-nav .nav-link {
    color: #dddddd;
    padding-left: .9rem;
}

#sidebar .navbar-nav p {
    color: #dddddd;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: .3rem;
    letter-spacing: 1px;
    margin: unset;
}

#sidebar .navbar-nav .active > .nav-link {
    background: #337fc1;
}

.message:not(:last-child) {
    margin-bottom: 1rem;
}

.message {
    background-color: transparent;
    border-radius: 3px;
}

.message-header {
    background-color: darkorange;
    border-radius: 3px 3px 0 0;
    color: black;
    padding: 7px 10px;
}

.message-body {
    background-color: #2b2b2b;
    border: 1px solid #222222;
    padding: 12px 15px;
}

.message-header + .message-body {
    border-radius: 0 0 3px 3px;
    border-top: none;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2d2d2d;
    color: #333333;
    transition: all 0.3s;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: -250px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar + #content {
    padding-left: 250px;
}

.overlay + .navbar {
    display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar + #content {
        padding-left: 0px;
    }

    .overlay + .navbar {
        display: block;
    }

    .app-footer {
        padding-left: 0px !important;
    }
}